@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

header {
  background-color: teal;
  height: 40rem;
}

.row {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}

.nav-parent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
}

.logo {
  font-size: 2rem;
  color: white;
}

.nav-link {
  display: flex;
  gap: 2rem;
  margin-top: 1rem;
}

a {
  font-size: 1.2rem;
  text-decoration: none;
  color: white;
}

.nav-btn {
  border: none;
  padding: 1rem 1.5rem;
  background-color: white;
  color: teal;
  border-radius: 1.5rem;
  /* font-size: 1.2rem; */
  cursor: pointer;
}

.nav-links {
  display: flex;
  gap: 2rem;
}

.header-parent {
  display: flex;
  justify-content: space-between;
  margin-top: 4rem;
}

.header-testArea {
  width: 50%;
  height: 26.4rem;
  /* border: 2px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.header-fig {
  width: 40%;
  height: 26.4rem;
  /* border: 2px solid black; */
}

.header-img {
  width: 100%;
  border-radius: 0.5rem;
}

.header-text {
  font-size: 3.2rem;
  color: white;
  width: 40rem;
}

.header-para {
  font-size: 1.4rem;
  color: white;
  width: 30rem;
}

.header-btnArea {
  display: flex;
  gap: 1rem;
}

.ex-btn {
  padding: 1rem;
  border-radius: 1.5rem;
  border: none;
  background-color: white;
  color: teal;
}

.con-btn {
  padding: 1rem;
  border-radius: 1.5rem;
  border: 2px solid white;
  color: white;
  background-color: teal;
}

/* 

MAIN 

*/

/* 

OFFER

*/

.offer-textHead {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-top: 5rem;
}

.small-offer {
  color: teal;
  font-weight: bold;
  font-size: 1rem;
}

.offer-head {
  color: black;
  font-size: 2.5rem;
  width: 40rem;
  text-align: center;
}

.offer-cards_parent {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5rem;
}

.offer-card {
  width: 22%;
  height: 20rem;
  background-color: white;
  box-shadow: 0px 0px 10px whitesmoke;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1.5rem 0.5rem;
}

.offer-flex {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.offer-icon {
  background-color: teal;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}

.offer-iconPara {
  text-align: center;
  width: 10rem;
}

.offer-iconSmall {
  font-weight: bold;
  color: teal;
}

/* 

END OFFER 

*/

/* 

SOLUTIONS

*/

.solutions-parent {
  display: flex;
  justify-content: space-between;
  margin: 5rem 0;
}

.solution-fig {
  width: 60%;
  height: 30rem;
  /* border: 2px solid teal;  */
}

.solution-img {
  width: 100%;
}

.solution-textArea {
  width: 35%;
  height: 30rem;
  /* border: 2px solid teal; */
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem 0;
}

.solution-smallHead,
.solution-smallTwo ,
.control-small{
  color: teal;
  font-weight: bold;
  font-size: 1rem;
}

.solution-head,
.control-head {
  color: black;
  font-size: 2.2rem;
}

.solution-para,
.control-para {
  color: gray;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
}

.solution-smallThree {
  font-size: 1rem;
  color: teal;
  font-weight: 900;
}

.solu-top {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* 

END SOLUTIONS 

*/

/* 

CONTROL 

*/

.control-parent{
display: flex;
justify-content: space-between;
margin: 10rem 0 5rem 0;
}

.control-textArea{
  width: 35%;
  height: 30rem;
  /* border: 2px solid teal; */
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.control-fig{
  width: 60%;
  height: 30rem;
  /* border: 2px solid teal; */
}

.control-img{
  width: 100%;
}

.control-ul{
display: flex;
flex-direction: column;
gap: .8rem;
}

.control-li{
font-size: 1rem;
color: gray;
margin-left: 1.2rem;
}


/* 

END CONTROL 

*/

/* 

STARS

*/

.stars-row{
  width: 100%;
  max-width: 900px;
  margin: 0 auto 5rem ;
  height: 15rem;
  background-color: teal;
  border-radius: .5rem;
}
